body{
    font-family: sans-serif;
}
/*header*/
.container,.contenido-header,.navegador{
    background-color: #222222;
}
.container{
    width:100%;
    display: flex;
    position: relative;
}
.contenido-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    margin:0 auto;
}
.busqueda-box{
    display:flex;
    align-items: center;
    border-radius: 4px;
    padding-left:10px ;
    width:65rem;
    height:3rem;
    background-color: #fff;
}
.busqueda-box input{
    flex:1;
    height:3rem;
    border:none;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
}
.fa-search{
    opacity: 0.5;
}
/*navbar*/
.navegador{
    width:100%;
    font-family: "Inter", sans-serif;
    position: sticky;
    z-index: 15;
    top:0;
}
.navbar{
    display:flex;
    margin-left: 9rem;
}
.principal ul.menu{
    list-style: none;
    display: flex;
}
.principal span{
    font-weight: 600;
    font-size: 16px;
}
.principal  a {
    color: #fff;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 10px;
}
.principal a:hover{
    opacity: 0.5;
}
.carrito{
    display: flex;
    align-items: center; 
    text-decoration: none;
    margin-left: 20rem;
}
.carrito .bi-bag{
    font-size: 2em;
    margin-bottom: 1rem;
    color:#C55281;
}
.carrito i:hover{
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.carrito .precio{
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 1rem;
}
/*contenido principal*/
.section-div{
    display: block;
    background-image: url("img/background_main.jpeg");
    background-size: cover;
    background-position: top center;
    padding: 5em 0em 4em 0em;
    
} 
.main-text{
    max-width: 1200px;
    display: flex;
    align-items: center;
}
.texto-main-medio{
    margin-left: 10rem;
}
.texto-main-medio h1, .texto-main-medio h2,.contenedor-boton a{
    margin-top: 0;
    margin-bottom: 25px;
}
.texto-main-medio a{
    text-decoration: none;
}
.main-text h1{
    color: #FFFFFF;
    font-size: 62px;
    line-height: 1.2em;
    letter-spacing: -1.5px;
    width: 45%;
}
.main-text h2{
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5em;
    word-spacing: 0.5em;
    width:40%;
    padding-bottom: 2rem;
}
.boton{
    font-size: 19px;
    font-weight: 600;
    color: #ffffff;
    background-color: #C55281;
    border-style: none;
    border-radius: 4px 4px 4px 4px;
    padding: 22px 35px 22px 35px;
    transition: .3s ease;
}
.boton:hover{
    cursor: pointer;
    background-color: #3BB54A;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);  
}
/*cuadros*/
.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
}
figure {
    position: relative;
    padding: 10px;
    transition: .2s ease-in-out;
}
figure img{
    width: 380px; 
    height: 200px;
    transition: .25s ease-in-out;
}
figcaption {
    display: flex;
    flex-direction: column;
    color:#fff;
    position: absolute;
    bottom: 4rem;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left:1rem;
}
figcaption strong{
    font-size: 24px;
    line-height: 1.55;
    letter-spacing: -.3px;
}
figcaption em{
    margin-bottom: 1.2em;
    font-size: 17px;
}
figcaption span{
    background-color: #85aad8;
    display: inline-block;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    border: 0;
    border-radius: 2px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    width:50%;
    transition: .3s ease-in-out;
}
figcaption span:hover{
    background-color:#3BB54A; ;
}
.overlay {
    position: absolute;
    width: 380px;
    height: 200px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .25s ease-in-out;
}
.overlay:hover{
    background-color: rgba(0, 0, 0, 0);
}
/*destacados*/
.section-title{
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 2;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-transform: none;
    color: #222;
}
.section-title::after{
    content:"";
    display:block;
    width: 100%;
    height:.1rem;
    background-color:rgba(0, 0, 0, 0.5);
}
.contedor-productos{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    margin: 50px 0;
}
.contenido-producto{
    width: 20%;
    margin:15px;
    box-sizing: border-box;
    float: left;
    text-align: left;
    padding-top: 10px;
    transition:.4s;
    background: #fff;
}
.contenido-producto a{
    text-decoration: none;
    color:#222;
    cursor: pointer;
}
.header-card{
    clear: both;
    padding-top: 10px;
    width: 100%;
    margin-left: 10px;
}
.header-card ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.header-card ul li{
    color:#C55281;
    font-size: small;

}
.categorias{
    position: relative;
    margin-bottom: 2px;
    color: #444;
    line-height: 1;
    letter-spacing: .7px;
    text-transform: uppercase;
    font-size: 11px;
    }
.titulo-producto{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1.3;
    text-transform: none;
    color: #2c2d33;
}
.contenido-producto:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    border-radius: 1px;
}
.contedor-productos img{
    width:300px;
    height:300px;
    text-align: center;
    margin: 0 auto;
    display: block;
    transition: all .2s ease-in-out;
}
.contenedor-boton-compra{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.boton-compra{
    width: 100%;
    background-color: #85AAD8;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    margin: 1rem auto;
    visibility: hidden;
    transition: .2s ease-in-out;
}
.contenido-producto:hover .boton-compra {
    visibility: visible;
}
.boton-compra:hover{
    background-color: #5A447C;
}
.contenido-producto:hover img {
    transform:scale(.98);
}
/*beneficios*/
.section-title-beneficios h2{
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 2;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-transform: none;
    color: #222;
}
.contenedor-beneficios{
    display:flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}
.contenedor-text-imagen{
    display: flex;
    justify-content: center;
}
.icono img{
    max-width: 50%;
    vertical-align: middle;
    display: inline-block;
}
.icono{
    Flex-basis: 25%;
    margin: 0 1rem 0 1rem;
}
/*footer*/
.footer-contenido{
    background-color: #5A447C;
    padding: 70px 0;
}
.footer-contenido ul{
    list-style: none;
}
.footer-contenido .comun ul li a{
    text-decoration: none;
    color:#fff;
    font-family: "Open Sans", Sans-serif;
    font-size: 11px;
    font-weight: 100;
}
.container-footer{
    max-width:81.25rem;
    max-height: 9.375rem;
    margin:auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-col{
    width:15%;
    padding: 0 15px;
}
.cont-col-img{
    position: relative; 
}
.footer-col img{
    position: absolute;
    right: 25%;
    
}
.footer-col ul{
    padding: 0;
    margin-top:5px;
}
.footer-col h2{
    color: #FFFFFF;
    font-family: "Passion One", sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 30px;
    letter-spacing: -0.5px;
    text-transform: none;
}
.footer-col h2::after{
    content:"";
    display:block;
    width: 120%;
    height:1px;
    background-color: #fff;
    margin-top: 5px;
}
.footer-col ul li:not(:last-child){
    line-height: 1.5;
}
.footer-col p{
    text-align: left;
    color: #FFFFFF;
    font-family: "Passion One", Sans-serif;
    font-size: 15px;
    margin: 0;
    letter-spacing: 0.4px;
}
.lista-redes{
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
}
.lista-redes li a i{
    margin-top: 10px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}